<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<style>
  body{
    background-image: url("<%= image %>");
    background-size: cover;
  }

</style>

<body>
<%- include('partials/nav.ejs') %>
<%- include('partials/footer.ejs') %>
  </body>
</html>
