<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<style>
  body{
    background-image: url("<%= image %>");
    background-size: cover;
  }
</style>

<body>
    <h1>The Solar System</h1>
<%- include('partials/nav.ejs') %>
    <img src="/img/nikita_h-planet-3259123.jpg">
</body>
</html>
