<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<style>
  body{
    background-image: url("<%= image %>");
    background-size: cover;
  }

</style>

<body>
<%- include('partials/nav.ejs') %>
<div class="content-div">
    <img src="https://images.rawpixel.com/image_social_square/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA3L3BkbWlzYzEzLXdrMzY4ODE4MDYtaW1hZ2UuanBn.jpg">
    <!--www.rawpixel.com/image/10184900/image-galaxy-face-person CC0 license. -->
</div>
<%- include('partials/footer.ejs') %>
  </body>
</html>
